/*
#editor {
    position: relative;
                
    left: 0;
    right: 0;
    width: 500px;
    height: 500px;
}
*/

#new-dialog {
    display: none;    
}

#resizable { 
    min-width: 500px; 
    min-height: 500px;
    width: 500px;
    height: 500px;
    max-width: 700px; 
    max-height: 600px; 
    padding: 5px; 
    border: 3px solid red; 
}

#editor { 
    position: absolute; 
    top: 0; 
    padding: 5px; 
    left:0; 
    bottom: 0; 
    right: 0; 
}