#new-dialog {
    display: none;    
}

#panels {
    position: absolute;
    top: 3em;
    right: 0px;
    bottom: 0px;
    left: 0;
}

#resizable { 
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0px;
    padding: 5px;
}

#editor { 
    position: absolute; 
    top: 0; 
    left:0; 
    bottom: 0; 
    right: 0; 
}

#autodiv {
    position: absolute;
    left: 50%;
    right: 0px;
    top: 0em;
    bottom: 0px;
    margin-left:1em;
}

#editor2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
/*    padding: 5px;*/
}

.ui-resizable-e {
cursor: e-resize;
width: 15px;
right: -15px;
top: 0;
height: 100%;
background-color: gray;
}

