#new-dialog {
    display: none;    
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
}
#context-list {
    position: absolute;
    top: 39px;
    bottom: 0;
    left: 0;
    width: 200px; 
    background-color: #272822;
    color: #f8f8f2;
    padding: .2em;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
}

#context-heading {
	border-top: none;
	margin-left: -4px;
	padding: 5px;
}

#panels {
    position: absolute;
    top: 39px;
    right: 0px;
    bottom: 0px;
    left: 190px;
}
.panel {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 11px;
}
.editor {
    position: absolute; 
    top: 0; 
    bottom: 0; 
}
.highlight {
    background-color: white;
}
#resizable { 
    width: 50%;
}

#editor { 
     left:0; 
     right: 0; 
}

#autodiv {
    left: 50%;
    right: 0px;
    /*margin-left: 5px;*/
}

#editor2 {
    right: 0;
    left: 0;
}

#current-file {
	position: absolute;
	bottom: .5em;
	padding-right: 2em;
	font-family: "Consolas","source-code-pro","Monaco","Menlo","Ubuntu Mono",monospace;
	color: gray;
	font-size: small;
}

.ui-resizable-e {
	cursor: e-resize;
	width: 10px;
	right: -5px;
	top: 0;
	height: 100%;
	background-image: url(resources/images/grabber.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: gray;
}

.ui-resizable-s {
	background-color: gray;
	height: 8px;
	bottom: -10px;
}

ul.project-tree {
    list-style-type: none;
    padding: .5em;
    padding-left: 1em;
}

#file-list {
    list-style-type: none;
    padding-left: .7em;
}
