#body {
	background-color: white;
}

#header {
	
	height: 5em;
	width: 100%;
}
#header-left {
	float: left;
	width: 25%;
}
#header-center {
	float: left;
	width: 50%;
}
#header-right {
	float:left;
	width: 24%;
}
#content {
	clear: left;
	top: 0;
	height: 80%;
}
#project-info {
	float: left;
	width: 15%;
	height: 500px;
}

#panels {
	float: left;
	width: 80%;
}

#panel1 {
	float: left;
	width:45%;
}
#context {
	height: 400px;
}

#panel2 {
	float: left;
	width: 45%;
}
