#new-dialog {
    display: none;    
}

#context-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10em; 
    background-color: #272822; /* from ace-monokai */
    color: white;
    padding: .2em;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
}

#panels {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 10em;
}
.panel {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 11px;
}
.editor {
    position: absolute; 
    top: 0; 
    bottom: 0; 
}
.highlight {
    background-color: white;
}
#resizable { 
    width: 50%;
}

#editor { 
     left:0; 
     right: 0; 
}

#autodiv {
    left: 50%;
    right: 0px;
    /*margin-left: 5px;*/
}

#editor2 {
    right: 0;
    left: 0;
}

.ui-resizable-e {
cursor: e-resize;
width: 10px;
right: -5px;
top: 0;
height: 100%;
background-image: url(resources/images/grabber.svg);
background-position: center;
background-repeat: no-repeat;
background-color: gray;
}

ul.project-tree {
    list-style-type: none;
    padding: .5em;
    padding-left: 1em;
}
